@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  display: flex;
  height: 100%;
  width: 100%;
  font-family: "Geist", sans-serif;
  @apply text-black;
}

@font-face {
  font-family: 'Geist';
  src: url('./fonts/Geist-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}