@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  display: flex;
  height: 100%;
  width: 100%;
  font-family: "Geist", sans-serif;
  @apply text-black;
}

@font-face {
  font-family: 'Geist';
  src: url('./fonts/Geist-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 34px;
  line-height: 1.24; /* 140% is more typical and readable */
}

@media (min-width: 640px) { /* sm breakpoint in Tailwind */
  h1 {
    font-size: 48px;
    line-height: 1.24; /* 124% */
  }
}

h2 {
  font-size: 28px;
  line-height: 1.24; /* mobile */
}

@media (min-width: 640px) { /* laptop -  sm breakpoint in Tailwind */
  h2 {
    font-size: 40px;
    line-height: 1.24; /* 124% */
  }
}

h5 {
  font-size: 12px;
  line-height: 1.24; /* mobile */
}

@media (min-width: 640px) { /* laptop -  sm breakpoint in Tailwind */
  h5 {
    font-size: 18px;
    line-height: 1.24; /* 124% */
  }
}

.StyledWord {
  color: rgb(255, 255, 255);
  background-color: black;
  border-radius: 2px;
  background: linear-gradient(17deg, rgba(19,20,21,1) 21%, rgba(88,92,97,1) 36%, rgba(19,20,21,1) 58%);
}
