@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  display: flex;
  height: 100%;
  width: 100%;
  font-family: "Geist", sans-serif;
  @apply text-black;
}

@font-face {
  font-family: 'Geist';
  src: url('./fonts/Geist-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'georgia';
  src: url('./fonts/georgia') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-size: 34px;
  line-height: 1.24; /* 140% is more typical and readable */
}

@media (min-width: 640px) { /* sm breakpoint in Tailwind */
  h1 {
    font-size: 48px;
    line-height: 1.24; /* 124% */
  }
}

h2 {
  font-size: 28px;
  line-height: 1.24; /* mobile */
}

@media (min-width: 640px) { /* laptop -  sm breakpoint in Tailwind */
  h2 {
    font-size: 40px;
    line-height: 1.24; /* 124% */
  }
}


h4 {
  font-size: 14px;
  line-height: 1.24; /* mobile */
}

@media (min-width: 640px) { /* laptop -  sm breakpoint in Tailwind */
  h4 {
    font-size: 18px;
    line-height: 1.24; /* 124% */
  }
}

h5 {
  font-size: 12px;
  line-height: 1.24; /* mobile */
}

@media (min-width: 640px) { /* laptop -  sm breakpoint in Tailwind */
  h5 {
    font-size: 18px;
    line-height: 1.24; /* 124% */
  }
}

.StyledWord {
  color: rgb(255, 255, 255);
  background-color: black;
  border-radius: 2px;
  background: linear-gradient(17deg, rgba(19,20,21,1) 21%, rgba(88,92,97,1) 36%, rgba(19,20,21,1) 58%);
}

.StyledNum {
  color: rgb(255, 255, 255);
  border-radius: 64px;
  background: radial-gradient(circle at -25% -25%, rgba(235, 235, 235, 1) 0%, rgba(230, 230, 230, 1) 23%, rgba(153, 153, 153, 1) 56%, rgba(218, 218, 218, 1) 100%);

}

.borderStyle{
  
  background-color: linear-gradient(-180deg, rgb(216, 216, 216), rgb(254, 7, 7)) 1;
}

.styledTestimonial {
  border-radius: 16px;
  background: rgb(235, 235, 235);
  background: linear-gradient(
    -37deg,
    rgba(235, 235, 235, 0.4) 0%,   /* First color with 80% opacity */
    rgba(240, 240, 240, 0.4) 23%,  /* Second color with 80% opacity */
    rgba(189, 189, 189, 0.4) 56%,  /* Third color with 80% opacity */
    rgba(229, 229, 229, 0.4) 100%  /* Fourth color with 80% opacity */
  );
}

.faqBg {
  background: rgb(235, 235, 235);
  background: linear-gradient(
    -37deg,
    rgba(235, 235, 235, 0.4) 0%,   /* First color with 80% opacity */
    rgba(215, 214, 214, 0.4) 23%,  /* Second color with 80% opacity */
    rgba(176, 176, 176, 0.4) 56%,  /* Third color with 80% opacity */
    rgba(229, 229, 229, 0.4) 100%  /* Fourth color with 80% opacity */
  );
}